{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Tourpackages {% endblock %}
{% block category %}
	{% for item in categories %}
	<li><a href="/category/{{item.pk}}">{{item.title}}</a></li> 
	{% endfor %}
{% endblock %}








{% block content %}

	
    <!-- slider Area Start-->
	<div class="slider-area ">
		<!-- Mobile Menu -->
		<div class="single-slider slider-height2 d-flex align-items-center" data-background="/static/img/hero/contact_hero.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap text-center">
							<h2>Our Packages</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- slider Area End-->

	<!-- Favourite Places Start -->
	<div class="favourite-place place-padding">
		<div class="container">
			<!-- Section Tittle -->
			<div class="row">
				<div class="col-lg-12">
					<div class="section-tittle text-center">
						<span>FEATURED TOURS Packages</span>
						<h2>Favourite Places</h2>
					</div>
				</div>
			</div>
			<div class="row">
				
				{% for offer in offers %}
				<a href="{{ offer.get_absolute_url }}">
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="single-place mb-30">
						<div class="place-img">
							<img src="{{offer.photo.url}}"  width="370" height="370" alt="">
						</div>
						<div class="place-cap">
							<div class="place-cap-top">
								<span><i class="fas fa-star"></i><span>{{offer.mark}} Superb</span> </span>
								<h3><a href="#">{{offer.title}}</a></h3>
								<p class="dolor">${{offer.price}} <span>/ Per Person</span></p>
							</div>
							<div class="place-cap-bottom">
								<ul>
									<li><i class="far fa-clock"></i>{{offer.days}} Days</li>
									<li><i class="far fa-clock"></i>{{offer.nights}} Nights</li>
									<li><i class="fas fa-map-marker-alt"></i>{{offer.location1}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</a>
				{% endfor %}
		
			</div>
		</div>
	</div>
	<!-- Favourite Places End -->

{% endblock %}

	









