{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block category %}
	{% for item in categories %}
	<li><a href="category/{{item.pk}}">{{item.city}}</a></li> 
	{% endfor %}
{% endblock %}



{% block content %}

 	<!-- slider Area Start-->
 	<div class="slider-area ">
	<!-- Mobile Menu -->
	<div class="slider-active">
		<div class="single-slider hero-overly  slider-height d-flex align-items-center" data-background="/static/img/hero/h1_hero.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 col-md-9">
						<div class="hero__caption">
							<h1>Find your <span>Next tour!</span> </h1>
							<p>{% trans 'Where would you like to go?' %}</p>
						</div>
					</div>
				</div>
				<!-- Search Box -->
				<div class="row">
					<div class="col-xl-12">
						<!-- form -->
						<!-- <form action="#" class="search-box">
							<div class="input-form mb-30">
								<input type="text" placeholder="When Would you like to go ?">
							</div>
							<div class="select-form mb-30">
								<div class="select-itms">
									<select name="select" id="select1">
										<option value="">When</option>
										<option value="">Services-1</option>
										<option value="">Services-2</option>
										<option value="">Services-3</option>
									</select>
								</div>
							</div>
							<div class="search-form mb-30">
								<a href="#">Search</a>
							</div>	
						</form>	 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- slider Area End-->

	<!-- Favourite Places Start -->
	<div class="favourite-place place-padding">
		<div class="container">
			<!-- Section Tittle -->
			<div class="row">
				<div class="col-lg-12">
					<div class="section-tittle text-center">
						
						<h2>{% trans 'Destinations' %}</h2>
					</div>
				</div>
			</div>
			<div class="row">
				{% for category in categories %}
				<a href="{% url 'offer' %}">
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="single-place mb-30">
						<div class="place-img">
							<img src="{{category.photo.url}}" width="370" height="370" alt="">
						</div>
						<div class="place-cap">
							<div class="place-cap-top">
								<span><i class="fas fa-star"></i><span>{{category.mark}}/10</span> </span>
								<h3><a href="{%  url 'offer' %}">{{category.city}}</a></h3>
								<p class="dolor">from ${{category.price}} <span>/ Per Person</span></p>
							</div>
							<div class="place-cap-bottom">
								<ul>
									<li><i class="fas fa-map-marker-alt"></i>{{category.country}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				</a>
				{% endfor %}

			</div>
		</div>
	</div>
	<!-- Favourite Places End -->

	 <!-- Our Services Start -->
	 <div class="our-services servic-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-tittle text-center">
					
						<h2>{% trans 'Our Services' %}</h2>
					</div>
				</div>
			</div>
			<div class="row d-flex justify-contnet-center">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
					<div class="single-services text-center mb-30">
						<div class="services-ion">
							<span class="flaticon-tour"></span>
						</div>
						<div class="services-cap">
							<h5>{% trans 'Tourist <br>insurance' %}</h5>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
					<div class="single-services text-center mb-30">
						<div class="services-ion">
							<span class="flaticon-pay"></span>
						</div>
						<div class="services-cap">
							<h5>{% trans '100% Trusted Tour<br>Agency' %}</h5>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
					<div class="single-services text-center mb-30">
						<div class="services-ion">
							<span class="flaticon-experience"></span>
						</div>
						<div class="services-cap">
							<h5>{% trans 'Flights <br>around the world' %}</h5>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
					<div class="single-services text-center mb-30">
						<div class="services-ion">
							<span class="flaticon-good"></span>
						</div>
						<div class="services-cap">
							<h5>{% trans '98% Our Travelers<br>are Happy' %}</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	 <!-- Our Services End -->
	 
	<!-- Video Start Arera -->
	<div class="video-area video-bg pt-200 pb-200"  data-background="static/img/service/video-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="video-caption text-center">
						<div class="video-icon">
							<a class="popup-video" href="https://www.youtube.com/watch?v=1aP-TXUpNoU" tabindex="0"><i class="fas fa-play"></i></a>
						</div>
						<p class="pera1">Love where you're going in the perfect time</p>
						<p class="pera2">Travel around the world with Ayn Travel</p>
						<p class="pera3"> Tour Booking Platform</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Video Start End -->
	<!-- Support Company Start-->
	<div class="support-company-area support-padding fix">
		<div class="container">
			{% for about in abouts %}
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6">
					<div class="support-location-img mb-50">
						<img src="{{ about.photo.url }}" alt="">
						<div class="support-img-cap">
							<span>{% trans 'Since 2018' %}</span>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6">
					
					<div class="right-caption">
						<!-- Section Tittle -->
						<div class="section-tittle section-tittle2">
							<span>{% trans 'About Our Company' %}</span>
							<h2>{{ about.title }}</h2>
						</div>
						<div class="support-caption">
							<p>{{ about.info }}</p>
					
							<a href="{% url 'about' %}" class="btn border-btn">{% trans 'About us' %}</a>
						</div>
					</div>
			
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<!-- Support Company End-->
	<!-- Testimonial Start -->
	<div class="testimonial-area testimonial-padding" data-background="static/img/testmonial/testimonial_bg.jpg">
		<div class="container ">
			<div class="row d-flex justify-content-center">
				<div class="col-xl-11 col-lg-11 col-md-9">
					
					<div class="h1-testimonial-active">
						<!-- Single Testimonial -->
						{% for oper in operator %}
						<div class="single-testimonial text-center">
							<!-- Testimonial Content -->
							<div class="testimonial-caption ">
								<div class="testimonial-top-cap">
									<img src="/static/img/icon/testimonial.png" alt="">
									<p>{{oper.text}}</p>
								</div>
								<!-- founder -->
								<div class="testimonial-founder d-flex align-items-center justify-content-center">
									<div class="founder-img">
										<img src="{{ operator.photo.url }}" alt="">
									</div>
									<div class="founder-text">
										<span>{{ oper.author }}</span>
										<p>{{ oper.post|safe|escape }}</p>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						<!-- Single Testimonial -->
						<div class="single-testimonial text-center">
							<!-- Testimonial Content -->
							<div class="testimonial-caption ">
								<div class="testimonial-top-cap">
									<img src="/static/img/icon/testimonial.png" alt="">
									<p>Logisti Group is a representative logistics operator providing full range of ser
										of customs clearance and transportation world</p>
								</div>
								<!-- founder -->
								<div class="testimonial-founder d-flex align-items-center justify-content-center">
									<div class="founder-img">
										<img src="/static/img/testmonial/Homepage_testi.png" alt="">
									</div>
									<div class="founder-text">
										<span>Jessya Inn</span>
										<p>Co Founder</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- Testimonial End -->


{% endblock %}
