{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block category %}
	{% for item in category %}
	<li><a href="/category/{{item.pk}}">{{item.title}}</a></li> 
	{% endfor %}
{% endblock %}

{% block title %} Services {% endblock %}

{% block content %}
	<h1>Турпакеты</h1>
	<form action="{% url 'bronform' %}" method="post">
		{% csrf_token %} 
		{{form.as_p}}
		<!-- <div class="form-group">
			<label for="{{form.title.id_for_label}}">title</label>
		</div> -->
		<button type="submit" class="btn btn-primary btn-block">{% trans 'Забронировать' %}</button>
	</form>
{% endblock %}